.rm-frontend-form-selectwrap {
    position: relative;
}

.rm-frontend-form-select {
    appearance: textfield;
    line-height: 2.5rem;
    border: 1px solid rgba(0,0,0,0.1);
    padding-left: 1rem;
    cursor: pointer;
    width: 100%;
/*    background: rgba(0,0,0,0.01) url("../images/dropdown-caret.svg") no-repeat calc(100% - 12px) 50%;*/
    border-radius: 3px;
    font-size: 1rem;
}

.rm-frontend-form-selectcaret {
    position: absolute;
    left: calc(100% - 36px);
    top: calc(50% - 12px);
}

#rm-frontend-form-selectcaret-svg {
    transition: 0.2s;
}

.rm-frontend-form-selectwrap:active #rm-frontend-form-selectcaret-svg {
    transform: translateY(-100%);
}